@import "~bootstrap/scss/bootstrap.scss";

.todoDiv {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 50vw;
    text-align: center;
    margin: 10vw 25vw;
}

.footer {
    font-size: 15px;
    text-align: left;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin: 16px 8px;
}

.todoForm {
    width: 100%;
}